<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/grid.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/responsive.css">
    <link rel="stylesheet" href="/style/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    <script>
        const list_item = JSON.parse('<%- JSON.stringify(items) %>');
        const user = JSON.parse('<%- JSON.stringify(user) %>');
        const myCart = JSON.parse('<%- JSON.stringify(myCart) %>');
        const userAddress = JSON.parse('<%- JSON.stringify(userAddress) %>');
    </script>
    <title>カート-TS-shop</title>
</head>
<body>
    <div class="app">
        <div class="over-play"></div>
        <!-- Header start1-->
        <%- include('./includes/header-only.ejs') %>
        <!-- Header end -->

        <!-- Container start -->
        <div class="container">
            
        </div>
        <!-- Container end -->
        
        <!-- Footer Start -->
        <%- include('./includes/footer.ejs') %>
        <!-- Footer End -->

<script src="/script/validation.js"></script>        
<script src="/script/script.js"></script>
<script src="/script/cart.js"></script>
<script src="https://ajaxzip3.github.io/ajaxzip3.js"></script>
</body>
</html>
