
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/grid.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/responsive.css">
    <link rel="stylesheet" href="/style/category.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    
    <!-- Swiper -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <title>TS-shop</title>
    <script>
        let list_item = JSON.parse('<%- JSON.stringify(items) %>');
        const user = JSON.parse('<%- JSON.stringify(user) %>');
        const myCart = JSON.parse('<%- JSON.stringify(myCart) %>');
        const category = JSON.parse('<%- JSON.stringify(category) %>');
        const colorList = JSON.parse('<%- JSON.stringify(colorList) %>');
        const brandList = JSON.parse('<%- JSON.stringify(brandList) %>');
        const sizeList = JSON.parse('<%- JSON.stringify(sizeList) %>');
        const categoriesNow = JSON.parse('<%- JSON.stringify(categoriesNow) %>');
        let categories = JSON.parse('<%- JSON.stringify(categories) %>');
        const brand = JSON.parse('<%- JSON.stringify(brand) %>');
        const wordSearch = JSON.parse('<%- JSON.stringify(wordSearch) %>');
    </script>
</head>
<body>
    <div class="app">
        <div class="over-play"></div>
        <!-- Header start1-->
        <!-- Header start1-->
        <header class="header">
            <div class="grid wide">
                <div class="header-category-box">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <a href="/" class="header__logo"><img src="/image/logo.png" alt="logo" class="logo-img"></a>
                <form class="header__search" method="post" action="/category">
                    <input type="text" placeholder="何にをお探しですか？" class="header__search-input" name ="word" value="<%= wordSearch ? wordSearch : '' %>">
                    <button class="header__search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <div class="header__search-box">
                    </div>
                </form>
                <ul class="header__navbar">
                    <li class="header__navbar-user">
                        <!-- ログインしてないとき -->
                        <% if (!user) { %>
                        <a href="/login"><i class="fa-regular fa-user"></i><span>ログイン</span></a>
                        <!-- ログインしたとき -->
                        <% } else{ %>
                        <a href="/user-profile"><img class="user-image" src="/image/user-image/<%=user.user_img %>" alt=""></a>
                        <div class="user_navbar">
                            <div class="dropdown-username"><%= user.user_name %></div>
                            <% if(user.user_role === 'admin'){ %>
                                <a href="/admin-page" class="dropdown-account">管理ページ</a>
                            <% } %>
                            <a href="/user-profile" class="dropdown-account">プロフィール</a>
                            <a href="/user-order" class="dropdown-purchase-history">注文履歴</a>
                            <a href="/logout" class="dropdown-logout">サインアウト</a>
                        </div>
                        <% } %>

                    </li>
                    <li class="header__navbar-like icon-center">
                        <a href="/user-favorite">
                            <i class="fa-regular fa-heart"></i>
                            <% if(user){if (user.favorItems.length > 0){ %>
                                <div class="header__navbar--favor-quality"><%=user.favorItems.length %></div>
                            <% }else{ %>
                                <div class="header__navbar--favor-quality" style="display: none;"></div>
                            <% }} %>
                        </a>
                    </li>
                    <div class="navbar-cart">
                        <li class="header__navbar-cart icon-center">
                            <a href="/getCartPage" >
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                            <div class="header__navbar-cart-count"></div>
                        </li>
                    </div>
                    <li class="header__navbar-support"><a href=""><i class="fa-solid fa-headset"></i><span>サポート</span></a></li>
                    <div class="header__navbar-cart-box-container">
                        <div class="header__navbar-cart-box">
                        </div>
                        <div class="row header__navbar-cart-box-closeBtn">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </ul>
            </div>
            
            <div class="swiper tab">  
                <div class="swiper-wrapper">
                    <div class="swiper-slide tab__list-start" onclick="categoriesAvailable(this),runFilter()" data-value="all">すべて</div>
                    <div class="swiper-slide" onclick="categoriesAvailable(this),runFilter()" data-value="recommended">おすすめ</div>
                    <div class="swiper-slide" onclick="categoriesAvailable(this),runFilter()" data-value="new_arrivals">新着</div>
                    <div class="swiper-slide" onclick="categoriesAvailable(this),runFilter()" data-value="best_sellers">ベストセラ</div>
                    <div class="swiper-slide" onclick="categoriesAvailable(this),runFilter()" data-value="mens">メンズ</div>
                    <div class="swiper-slide" onclick="categoriesAvailable(this),runFilter()" data-value="womens">レディース</div>
                    <div class="swiper-slide" onclick="categoriesAvailable(this),runFilter()" data-value="cosmetics">コスメ</div>
                </div>
            </div>
            
        </header>
        
        <div class="category-box">
            <ul class="category__list">
                <p class="category_header">カテゴリー</p>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">トップス</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">ジャケット/アウター</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">パンツ</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">スカート</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">ワンピース/ドレス</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">小物</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">バッグ</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">シューズ</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">ファッション雑貨</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">帽子</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">腕時計</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">アクセサリー</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text tab-suport">サポート<i class="fa-solid fa-headset"></i></a></li>    
            </ul>
            <div class="category-box-closeBtn"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="tab__list-close"></div>
        <!-- Header end -->
        <!-- Header end -->

        <!-- Container start -->
        <div class="container">
            <div class="grid wide">
                <div class="row">
                    <ul class="category__list col l-2">
                        <p class="category_header">カテゴリー</p>
                        <li class="category_list-item <%=category == 'トップス' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="トップス"><div class="category_list-item-text">トップス</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == 'ジャケット・アウター' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="ジャケット・アウター"><div class="category_list-item-text">ジャケット/アウター</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == 'パンツ' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="パンツ"><div class="category_list-item-text">パンツ</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == 'スカート' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="スカート"><div class="category_list-item-text">スカート</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == 'ワンピース/ドレス' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="ワンピース/ドレス"><div class="category_list-item-text">ワンピース/ドレス</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == '小物' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="小物"><div class="category_list-item-text">小物</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == 'バッグ' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="バッグ"><div class="category_list-item-text">バッグ</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == 'シューズ' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="シューズ"><div class="category_list-item-text">シューズ</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == 'ファッション雑貨' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="ファッション雑貨"><div class="category_list-item-text">ファッション雑貨</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == '帽子' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="帽子"><div class="category_list-item-text">帽子</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == '腕時計' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="腕時計"><div class="category_list-item-text">腕時計</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == 'アクセサリー' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="アクセサリー"><div class="category_list-item-text">アクセサリー</div><i class="fa-solid fa-chevron-right"></i></li>
                        <li class="category_list-item <%=category == 'その他' ? 'available' : '' %>" onclick="categoryAvailable(this),runFilter()" data-value="その他"><div class="category_list-item-text">その他</div><i class="fa-solid fa-chevron-right"></i></li>
                    </ul>
                    <div class="content_body col l-10">
                        <div class="row">
                            <div class="content__title">
                                <div class="content__title-text"><%= 
                                    categoriesNow === 'all' ? 'すべて' : 
                                    categoriesNow === 'recommended' ? 'おすすめ' : 
                                    categoriesNow === 'new_arrivals' ? '新着' : 
                                    categoriesNow === 'best_sellers' ? 'ベストセラ' : 
                                    categoriesNow === 'mens' ? 'メンズ' : 
                                    categoriesNow === 'womens' ? 'レディース' : 
                                    categoriesNow === 'cosmetics' ? 'コスメ' : 
                                    categoriesNow === 'sports' ? 'スポーツ' : 
                                    'その他' // Giá trị mặc định nếu không khớp
                                  %>のアイテム</div>
                                <div class="content__title-filter">
                                    <div class="content__title-filter--title">絞り込み：</div>
                                    
                                    <div class="content__title-filter--price-box">
                                        <div class="content__title-filter--price" onclick="showFilterBox(this)">
                                            <span>価格帯</span>
                                            <i class="fa-solid fa-chevron-down"></i>
                                            <div class="content__title-filter--value" data-price-min="0" data-price-max="Infinity">すべて</div>
                                        </div>
                                        <div class="content__title-filter--box">
                                            <div onclick="filterItemsByPrice(0, Infinity)">すべて</div>
                                            <div onclick="filterItemsByPrice(0, 5000)">¥0 ~ ¥5000</div>
                                            <div onclick="filterItemsByPrice(5000, 10000)">¥5000 ~ ¥10000</div>
                                            <div onclick="filterItemsByPrice(10000, Infinity)">¥10000 ~</div>
                                        </div>
                                    </div>
                                    <div class="content__title-filter--color-box ">
                                        <div class="content__title-filter--color" onclick="showFilterBox(this)">
                                            <span>カラー</span>
                                            <i class="fa-solid fa-chevron-down"></i>
                                            <div class="content__title-filter--value" data-colorname="full" data-colorengname >すべて</div>
                                        </div>
                                        <div class="content__title-filter--box">
                                            <div class="colorList-box">
                                                <div class="filter-color-full" onclick="filterItemsByColor('full')" style="padding: 5px 0">すべて</div>
                                                <%colorList.forEach(color =>{ %>
                                                    <div class="filter-color" onclick="filterItemsByColor('<%=color.color_name%>','<%=color.color_nameEng %>')" style="padding:0; border-radius: 50%; width: 20px; height: 20px; background-color:<%=color.color_nameEng %>;"></div>
                                                <%}) %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content__title-filter--brand-box">
                                        <div class="content__title-filter--brand" onclick="showFilterBox(this)">
                                            <span>ブランド</span>
                                            <i class="fa-solid fa-chevron-down"></i>
                                            <div class="content__title-filter--value" data-brand = "full">すべて</div>
                                        </div>
                                        <div class="content__title-filter--box" style="width: 100%;">
                                            <div class="filter-brand-full" onclick="filterItemsByBrand('full')">すべて</div>
                                            <% brandList.forEach( brand => {%>
                                            <div class="content__title-filter--brand-item" onclick="filterItemsByBrand('<%=brand %>')"><%=brand %></div>
                                            <% }) %>
                                        </div> 
                                    </div>
                                    <div class="content__title-filter--size-box">
                                        <div class="content__title-filter--size" onclick="showFilterBox(this)">
                                            <span>サイズ</span>
                                            <i class="fa-solid fa-chevron-down"></i>
                                            <div class="content__title-filter--value" data-size = "full">すべて</div>
                                        </div>
                                        <div class="content__title-filter--box" style="width: 100%;">
                                            <div class="filter-size-full" onclick="filterItemsBySize('full')">すべて</div>
                                            <% sizeList.forEach( size => {%>
                                            <div class="content__title-filter--size-item" onclick="filterItemsBySize('<%=size %>')"><%=size %></div>
                                            <% }) %>
                                        </div> 
                                    </div>
                                    
                                </div>
                                <div class="content__title-sort">
                                    <div class="content__title-sort-text">並び替え：</div> 
                                    <input type ="input" class="content__title-sort-selected" value="価格が安い順"></input>
                                    <i class="fa-solid fa-chevron-down"></i> 
                                    <div class="sort__tab">
                                        <div class="sort__tab-descen sort__tab-list selected">価格が安い順</div>  
                                        <div class="sort__tab-ascen sort__tab-list " >価格が高い順</div>
                                        <div class="sort__tab-ascen sort__tab-list " >高評価商品</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if(wordSearch != null){ %>
                            <div class="searchWord-title" style ="font-size: 2rem; margin-left: 20px;">Search results for <strong>“<%=wordSearch %>”</strong></div>
                        <%} %>
                        <div class="row category__item-list">
                           
                        </div>
                        <!---------------Page-bar--------Start--> 
                        <div class="row">
                            <div class="bar-page">
                                <div class="bar-page_list">
                                    
                            </div>
                        </div>
                        <!---------------Page-bar--------End--> 

                    </div>  
                </div>
            </div>
        </div>
        <!-- Container end -->

        <!-- Footer Start -->
        <%- include('./includes/footer.ejs') %>
        <!-- Footer End -->
    </div>
    <script src="/script/script.js"></script>
    <script src="/script/category.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
  var swiperTab = new Swiper('.tab', {
    direction: 'horizontal',
    slidesPerView: window.innerWidth < 740 ? 3 : 8,
    spaceBetween: 1,
  });
})

</script>
</body>
</html>
