<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/grid.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/responsive.css">
    <link rel="stylesheet" href="/style/chatSupport.css">
    <title>ChatSupport-TS-SHOP</title>
    <script>
        const list_item = JSON.parse('<%- JSON.stringify(items) %>');
        const myCart = JSON.parse('<%- JSON.stringify(myCart) %>');
        const chatList = JSON.parse('<%- JSON.stringify(chatList) %>');
        const user = JSON.parse('<%- JSON.stringify(user) %>');
        console.log(chatList)
    </script>
</head>
<body>
    <!-- Header start1-->
    <%- include('./includes/header-only.ejs') %>
    <!-- Header end -->
    <div class="container">
        <%if(user.user_role === 'admin') { %>
            <div class="chatList--box">
            <%if(chatList.length === 0){ %>
                <p>No message</p>
                <%}else{%>
                <%chatList.forEach(chat =>{%>
                    <div class="chatList--item" data-room-id="<%= chat.room_id %>">
                        <img class="chatList--item__userImg" src="/image/user-image/<%=users.find(user=>user.user_id === chat.sender_id).user_img %>"></img>
                        <div class="chatList--item__userName"><%=chat.sender_name %></div>
                        <div class="chatList--item__date"><%=chat.timestamp %></div>
                        <div class="chatList--item__length"><%=chat.megSum %></div>
                        <div class="enter-room-btn" onclick="roomChatJoin('<%=chat.room_id %>','<%=chat.sender_name %>')">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </div>
                        <a href="/chatbox-roomDelete/<%=chat.room_id %>" class="message-delete-btn" style="font-size: 2rem; cursor: pointer;padding: 10px;">
                            <i class="fa-solid fa-delete-left"></i>
                        </a>
                    </div>
                <%})%>
                <% } %>
            </div>
        <%}%>
            <div class="chatapp--box" <%= user.user_role === 'admin' ? 'style=display:none;' : '' %>>
                <div class="chatapp--box__title">
                    Chat Support
                    <div class="support-manager">
                        <%=user.user_role === 'admin'? 'ユーザ：' :'担当者 (offline)'%><span></span>
                    </div>
                </div>
                <div class="chatapp--box__content">
                    <%if(user.user_role === 'customer'){%>
                        <div class="messageFrom-item">
                            <div class="message-fromUser-img"><img src="/image/user-image/default.jpg" alt=""><div class="user-status off"></div></div>
                            <div class="message-fromUser-content">ようこそ、私はサポート担当者です。何かお手伝い出来ることはありますか。</div>
                        </div>
                    <%}%>
                </div>
                <div class="chatapp--box__btn">
                    <input type="hidden" name="roomId">
                    <input type="text" id="m" placeholder="ここにメッセージを入力してください">
                    <button onclick="sendMessage()">送信</button>
                </div>
            </div>
    </div>
<!-- Footer Start -->
<%- include('./includes/footer.ejs') %>
<!-- Footer End -->
    <!-- Ensure this script is loaded before your own script -->
<script src="/script/script.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io(); // Kết nối tới server

async function roomChatJoin(roomId,senderName){
    document.querySelector('.chatapp--box').style.display = 'block'
    document.querySelector('.chatList--box').style.display = 'none'
    document.querySelector('.support-manager span').textContent = senderName
    document.querySelector('input[name="roomId"]').value = roomId
    
    // Tạo roomId để đảm bảo mỗi người dùng có phòng riêng với admin
    // Dữ liệu người dùng để gửi đến server
    const userData = { 
        userName: user.user_name, 
        userImg: user.user_img, 
        userId: user.user_id,
        userRole:user.user_role,
        roomId: roomId // Thêm roomId
    };
    
    // Khi người dùng tham gia phòng chat
    socket.emit('adminJoinRoom', userData);
    
    // Admin kích hoạt trạng thái online
    // Gửi sự kiện admin online
    socket.emit('adminOn', userData);

    // Xử lý tin nhắn cho admin
    socket.on('chat message', (data) => {
        console.log(data)
        if (data.roomId === roomId) { // Chỉ xử lý tin nhắn trong phòng hiện tại
            renderMessage(data, data.senderId === user.user_id);
        }
    });

    
    // Tải lịch sử chat
    socket.on('loadChatHistory', (chatHistory) => {
        const chatBox = document.querySelector('.chatapp--box__content');
        chatHistory.forEach((messageData) => {
            if (messageData.room_id === roomId) { // Chỉ tải lịch sử chat cho phòng hiện tại
                const isFromCurrentUser = messageData.sender_id === user.user_id;
                renderMessage(messageData, isFromCurrentUser);
            }
        });
    
        scrollToBottom();
    });
    
        // Hàm render tin nhắn
    function renderMessage(data, isFromCurrentUser) {
        const chatBox = document.querySelector('.chatapp--box__content');
        const messItem = document.createElement('div');
        messItem.classList.add(isFromCurrentUser ? 'messageTo-item' : 'messageFrom-item');
        messItem.innerHTML = `
            <div class="${isFromCurrentUser ? 'message-ToUser-img' : 'message-fromUser-img'}">
                <img src="/image/user-image/${isFromCurrentUser ? user.user_img : 'default.jpg'}" alt="User Image">
                <div class="message-userName">${data.sender_name}</div>
            </div>
            <div class="${isFromCurrentUser ? 'message-ToUser-content' : 'message-fromUser-content'}">
                <p>${data.message}</p>
            </div>
            <span class="timestamp">${new Date(data.timestamp).toLocaleString()}</span>
        `;

        chatBox.appendChild(messItem);
        scrollToBottom();
    }
   
}
if(user.user_role ==='customer'){
// Tạo roomId để đảm bảo mỗi người dùng có phòng riêng với admin
    const roomId = `room-${user.user_id}`;
    document.querySelector('input[name="roomId"]').value = roomId
    
    // Dữ liệu người dùng để gửi đến server
    const userData = { 
        userName: user.user_name, 
        userImg: user.user_img, 
        userId: user.user_id,
        userRole:user.user_role,
        roomId: roomId // Thêm roomId
    };
    
    // Khi người dùng tham gia phòng chat
    socket.emit('joinRoom', userData);
   
    // Xử lý tin nhắn cho người dùng
    socket.on('chat message', (data) => {
        if (data.roomId === roomId) { // Chỉ xử lý tin nhắn trong phòng hiện tại
            renderMessage(data, data.senderId === user.user_id);
        }
    });

    
    // Lắng nghe sự kiện admin online
    socket.on('adminOn', (adminData) => {
        if(adminData.roomId === roomId){
            document.querySelector('.support-manager').innerHTML = `担当者：${adminData.userName} (online)`;
            let userStatus = document.querySelectorAll('.user-status');
        
            if (userStatus) {
                userStatus.forEach((status) => {
                    status.classList.remove('off');
                    status.classList.add('on');
                });
            }
        }
    });
    
    // Lắng nghe sự kiện admin offline
    socket.on('adminOff', () => {
        document.querySelector('.support-manager').innerHTML = `担当者 (offline)`;
        let userStatus = document.querySelectorAll('.user-status');
        if (userStatus) {
            userStatus.forEach((status) => {
                status.classList.remove('on');
                status.classList.add('off');
            });
        }
    });

// Hàm render tin nhắn
}    
function renderMessage(data, isFromCurrentUser, adminOnline) {
    const chatBox = document.querySelector('.chatapp--box__content');
    const messItem = document.createElement('div');
    messItem.classList.add(isFromCurrentUser ? 'messageTo-item' : 'messageFrom-item');
    messItem.innerHTML = `
        <div class="${isFromCurrentUser ? 'message-ToUser-img' : 'message-fromUser-img'}">
            <img src="/image/user-image/${isFromCurrentUser ? user.user_img : 'default.jpg'}" alt="User Image">
            <div class="message-userName">${data.sender_name}</div>
            ${!isFromCurrentUser ? `<div class="user-status ${adminOnline ? 'on' : 'off'}"></div>` : ''}
        </div>
        <div class="${isFromCurrentUser ? 'message-ToUser-content' : 'message-fromUser-content'}">
            <p>${data.message}</p>
        </div>
        <span class="timestamp">${new Date(data.timestamp).toLocaleString()}</span>
    `;

    chatBox.appendChild(messItem);
    scrollToBottom();

    if (!isFromCurrentUser) {
        const chatListItem = document.querySelector(`.chatList--item[data-room-id="${data.roomId}"] .chatList--item__length`);
        if (chatListItem) {
            const currentLength = Number(chatListItem.textContent.trim()) || 0;
            chatListItem.textContent = currentLength + 1;
        }
    }
}
// Hàm gửi tin nhắn
function sendMessage() {
    const input = document.getElementById('m');
    const msg = input.value.trim();
    const roomId  = document.querySelector('input[name="roomId"]').value 

    if (msg) {
        const timestamp = new Date().toISOString();

        const messageData = {
            sender_name: user.user_name,
            senderId: user.user_id,
            senderRole: user.user_role,
            message: msg,
            timestamp: timestamp,
            roomId: roomId // Gửi roomId để đảm bảo gửi tin nhắn đúng phòng
        };

        // Gửi tin nhắn lên server
        socket.emit('chat message', messageData);
        // Xóa input
        input.value = '';
    } else {
        alert('メッセージを入力してください！');
    }
}



// Cuộn xuống cuối nội dung chat
function scrollToBottom() {
    const chatBox = document.querySelector('.chatapp--box__content');
    chatBox.scrollTop = chatBox.scrollHeight;
}

</script>

</body>
</html>
