<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/grid.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    
    <!-- swiper -->
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    <link rel="stylesheet" href="./style/responsive.css">
    <script>
        const list_item = JSON.parse('<%- JSON.stringify(items) %>');
        const user = JSON.parse('<%- JSON.stringify(user) %>');
        const myCart = JSON.parse('<%- JSON.stringify(myCart) %>');
        const reviews = JSON.parse('<%- JSON.stringify(reviews) %>')
        const categories = JSON.parse('<%- JSON.stringify(categories) %>')
        console.log(myCart)
        console.log(list_item)
        console.log(reviews)
        console.log(categories)
    </script>
    <title>TS-shop</title>
</head>
<body>
    <!-- Container start -->
    <div class="app">
        <div class="over-play"></div>
        <header class="header">
            <div class="grid wide">
                <div class="header-category-box">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <a href="/" class="header__logo"><img src="/image/logo.png" alt="logo" class="logo-img"></a>
                <form class="header__search" method="post" action="/category">
                    <input type="text" placeholder="何にをお探しですか？" class="header__search-input" name ="word">
                    <button class="header__search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <div class="header__search-box">
                    </div>
                </form>
                <ul class="header__navbar">
                    <li class="header__navbar-user">
                        <!-- ログインしてないとき -->
                        <% if (!user) { %>
                        <a href="/login"><i class="fa-regular fa-user"></i><span>ログイン</span></a>
                        <!-- ログインしたとき -->
                        <% } else{ %>
                        <a href="/user-profile"><img class="user-image" src="/image/user-image/<%=user.user_img %>" alt=""></a>
                        <div class="user_navbar">
                            <div class="dropdown-username"><%= user.user_name %></div>
                            <% if(user.user_role === 'admin'){ %>
                                <a href="/admin-page" class="dropdown-account">管理ページ</a>
                            <% } %>
                            <a href="/user-profile" class="dropdown-account">プロフィール</a>
                            <a href="/user-order" class="dropdown-purchase-history">注文履歴</a>
                            <a href="/logout" class="dropdown-logout">サインアウト</a>
                        </div>
                        <% } %>

                    </li>
                    <li class="header__navbar-like icon-center">
                        <a href="/user-favorite">
                            <i class="fa-regular fa-heart"></i>
                            <% if(user){if (user.favorItems.length > 0){ %>
                                <div class="header__navbar--favor-quality"><%=user.favorItems.length %></div>
                            <% }else{ %>
                                <div class="header__navbar--favor-quality" style="display: none;"></div>
                            <% }} %>
                        </a>
                    </li>
                    <div class="navbar-cart">
                        <li class="header__navbar-cart icon-center">
                            <a href="/getCartPage" >
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                            <div class="header__navbar-cart-count"></div>
                        </li>
                    </div>
                    <li class="header__navbar-support"><a href=""><i class="fa-solid fa-headset"></i><span>サポート</span></a></li>
                    <div class="header__navbar-cart-box-container">
                        <div class="header__navbar-cart-box">
                        </div>
                        <div class="row header__navbar-cart-box-closeBtn">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </ul>
            </div>
            
            <div class="swiper tab">  
                <div class="swiper-wrapper">
                    <div class="swiper-slide tab__list-start"><a href="">すべて</a></div>
                    <div class="swiper-slide"><a href="#section__recommend">おすすめ</a></div>
                    <div class="swiper-slide"><a href="#section__new">新着</a></div>
                    <div class="swiper-slide"><a href="#section__best_sellers">ベストセラ</a></div>
                    <div class="swiper-slide"><a href="#section__mens">メンズ</a></div>
                    <div class="swiper-slide"><a href="#section__womens">レディース</a></div>
                    <div class="swiper-slide"><a href="#section__cosmetics">コスメ</a></div>
                </div>
            </div>
            
        </header>
        
        <div class="category-box">
            <ul class="category__list">
                <p class="category_header">カテゴリー</p>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">トップス</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">ジャケット/アウター</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">パンツ</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">スカート</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">ワンピース/ドレス</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">小物</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">バッグ</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">シューズ</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">ファッション雑貨</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">帽子</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">腕時計</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text">アクセサリー</div><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="category_list-item"><a href=""><div class="category_list-item-text tab-suport">サポート<i class="fa-solid fa-headset"></i></a></li>    
            </ul>
            <div class="category-box-closeBtn"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <div class="tab__list-close"></div>
        <!-- Header end -->

        <!-- Container start -->
        <div class="container">
            <div class="grid wide">
                <div class="homepage__slide col l-12">
                    <div class="swiper swiper-homepage">
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide"><img src="/image/homepage/homepage-slide/homepage-slide1.webp" alt=""></div>
                            <div class="swiper-slide"><img src="/image/homepage/homepage-slide/homepage-slide2.webp" alt=""></div>
                            <div class="swiper-slide"><img src="/image/homepage/homepage-slide/homepage-slide3.webp" alt=""></div>
                            <div class="swiper-slide"><img src="/image/homepage/homepage-slide/homepage-slide4.webp" alt=""></div>
                        </div>
                        <!-- Nếu cần pagination -->
                        <div class="swiper-pagination"></div>
                    
                        <!-- Nếu cần navigation -->
                        <div class="swiper-button-prev">
                            <div class="custom-button-prev">    
                                <i class="fa-solid fa-angle-left"></i>
                            </div>
                        </div>
                        <div class="swiper-button-next">
                            <div class="custom-button-next">
                                <i class="fa-solid fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <ul class="row category__list-img">
                    <form action="/category" method ="post">
                        <input type="text" value="トップス" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3 ">
                                <a>
                                    <img src="./image/homepage/category-img/top.png" alt="">
                                    <div class="category-item-title">トップス</div>
                                </a>
                            </li>
                        </button>
                    </form>
                    <form action="/category" method ="post">
                        <input type="text" value="ジャケット・アウター" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/jacket.png" alt="">
                                    <div class="category-item-title">ジャケット/アウター</div>
                                </a>
                            </li>
                        </button>
                    </form>
                    <form action="/category" method ="post">
                        <input type="text" value="パンツ" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/pant.png" alt="">
                                    <div class="category-item-title">パンツ</div>
                                </a>
                            </li>
                        </button>
                    </form>
                    <form action="/category" method ="post">
                        <input type="text" value="スカート" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/skrit.png" alt="">
                                    <div class="category-item-title">スカート</div>
                                </a>
                            </li>
                        </button>
                    </form>
                    <form action="/category" method ="post">
                        <input type="text" value="ワンピース・ドレス" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/dress.png" alt="">
                                    <div class="category-item-title">ワンピース・ドレス</div>
                                </a>
                            </li>
                        </button>
                    </form>
                    <form action="/category" method ="post">
                        <input type="text" value="小物" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/Accessories.png" alt="">
                                    <div class="category-item-title">小物</div>
                                </a>
                            </li>
                        </button>
                    </form>
                    <form action="/category" method ="post">
                        <input type="text" value="バッグ" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/bag.png" alt="">
                                    <div class="category-item-title">バッグ</div>
                                </a>
                            </li>
                        </button>
                    </form>
                    <form action="/category" method ="post">
                        <input type="text" value="シューズ" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/jacket.png" alt="">
                                    <div class="category-item-title">シューズ</div>
                                </a>
                            </li>
                        </button>
                    </form>
                    <form action="/category" method ="post">
                        <input type="text" value="ファッション雑貨" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/phukien.png" alt="">
                                    <div class="category-item-title">ファッション雑貨</div>
                                </a>
                            </li>
                        </button>
                    </form>
                    <form action="/category" method ="post">
                        <input type="text" value="帽子" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/hat.jpg" alt="">
                                    <div class="category-item-title">帽子</div>
                                </a>
                            </li>
                        </button>
                    </form>

                    <form action="/category" method ="post">
                        <input type="text" value="腕時計" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/watch.png" alt="">
                                    <div class="category-item-title">腕時計</div>
                                </a>
                            </li>
                        </button>
                    </form>

                    <form action="/category" method ="post">
                        <input type="text" value="アクセサリー" name="category"hidden>
                        <button type="submit">
                            <li class="category-item col l-2 c-4 m-3">
                                <a>
                                    <img src="./image/homepage/category-img/trangsuc.png" alt="">
                                    <div class="category-item-title">アクセサリー</div>
                                </a>
                            </li>
                        </button>
                    </form>
                </ul>

                <div class="row section__brand">
                    <div class="row section_title section__brand-title ">ブランド</div>
                    <div class="row section__brand-list">
                        <div class="swiper swiper__brand-list">
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <a href="/category?brand=SHEIN"><img src="./image/homepage/brand-recomend/shein.webp" alt=""></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/category?brand=ROMWE"><img src="./image/homepage/brand-recomend/romwe.webp" alt=""></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/category?brand=DAZY"><img src="./image/homepage/brand-recomend/dazy.webp" alt=""></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/category?brand=SHEIN"><img src="./image/homepage/brand-recomend/emeryrose.webp" alt=""></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/category?brand=SHEIN"><img src="./image/homepage/brand-recomend/friful.webp" alt=""></a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="/category?brand=Manginity"><img src="./image/homepage/brand-recomend/manginity.png" alt=""></a>
                                </div>
                            </div>
                        
                            <!-- Nếu cần navigation -->
                            <div class="swiper-button-prev">
                                <div class="custom-button-prev">    
                                    <i class="fa-solid fa-angle-left"></i>
                                </div>
                            </div>
                            <div class="swiper-button-next">
                                <div class="custom-button-next">
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>

                <div id ="section__recommend" class="row section__recommend">
                    <div class="section_title section__recommend-title ">おすすめ </div>
                    <div class="row section__recommend-list">
                        
                    </div>
                </div>
                <div id ="section__new" class="row section__new">
                    <div class="section_title section__new-title ">新着</div>
                    <div class="row section__new-list">
                    </div>
                </div>
                <div id ="section__best_sellers" class="row section__best_sellers">
                    <div class="section_title section__best_sellers-title ">ベストセラー</div>
                    <div class="row section__best_sellers-list">
                    </div>
                </div>
                <div id ="section__mens" class="row section__mens">
                    <div class="section_title section__mens-title ">メンズ <i class="fa-solid fa-person" style="color: rgb(57, 57, 249); margin-left: 10px;"></i></div>
                    <div class="row section__mens-list">
                    </div>
                </div>
                <div id ="section__womens" class="row section__womens">
                    <div class="section_title section__womens-title ">レデイース<i class="fa-solid fa-person-dress" style="color: pink; margin-left: 10px;"></i></div>
                    <div class="row section__womens-list">
                    </div>
                </div>
                <div id ="section__cosmetics" class="row section__cosmetics">
                    <div class="section_title section__cosmetics-title ">コスメ<img src="image/cosmet-category.jpg" alt="" style="width: 100px;"></div>
                    <div class="row section__cosmetics-list">
                    </div>
                </div>
            </div>
        </div>

        <!-- Container end -->

        <!-- Footer Start -->
        <%- include('./includes/footer.ejs') %>
        <!-- Footer End -->
    
    </div>
</body> 
<script  src="/script/script.js"></script>
<script  src="/script/home.js"></script>
</html>