<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/grid.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/product-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/responsive.css">
    <script>
        const list_item = JSON.parse('<%- JSON.stringify(items) %>');
        const item = JSON.parse('<%- JSON.stringify(item) %>');
        const productId = Number('<%= itemId %>');
        const user = JSON.parse('<%- JSON.stringify(user) %>');
        const myCart = JSON.parse('<%- JSON.stringify(myCart) %>');
    </script>
    <title>ログイン-TS-shop</title>
</head>
<body>
    <div class="app">
        <div class="over-play"></div>
        <!-- Header start1-->
        <%- include('./includes/header-only.ejs') %>
        <!-- Header end -->

    <div class="container">
        <div class="grid wide product-item-container">
        </div>
    </div>


<!-- Footer Start -->
<%- include('./includes/footer.ejs') %>
<!-- Footer End -->
<script src="/script/script.js"></script>
<script src="/script/script-product.js"></script> 
<script>
    function addToFavorites(itemId, event) {
        fetch('/add-to-favorites', {
             method: 'POST',
            headers: {
            'Content-Type': 'application/json',
        },
            body: JSON.stringify({ itemId: itemId }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                event.classList.toggle('favor-btn-available');
                event.classList.toggle('favor-btn-disable');
                const favorQualityElement = document.querySelector('.header__navbar--favor-quality');
                document.querySelector('.header').style.transform = 'translateY(0)';
                if (favorQualityElement) {
                    favorQualityElement.textContent = data.favorCount;
                    favorQualityElement.style.display = data.favorCount > 0 ? 'block' : 'none';
                }
            } else {
                alert('Failed to add item to favorites. Please try again.');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('An error occurred. Please try again.');
        });
    }
     </script>
</body>
</html>