<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/grid.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/responsive.css">
    <link rel="stylesheet" href="/style/profile.css">
    <script>
        const list_items = JSON.parse('<%- JSON.stringify(items) %>');
    </script>
    <script type ="module" src="./script/script.js" defer></script>
    <title>TS-shop</title>
</head>
<body>
    <!-- Container start -->
    <div class="app">
        <div class="over-play"></div>
        <!-- Header start1-->
        <header class="header header-only">
            <div class="grid wide">
                <div class="header-category-box">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <a href="/" class="header__logo"><img src="./image/logo.png" alt="logo" class="logo-img"></a>
                <form class="header__search" method="get" action="./category.html">
                    <input type="text" placeholder="何にをお探しですか？" class="header__search-input" name ="word">
                    <button class="header__search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <div class="header__search-box">
                    </div>
                </form>
                <ul class="header__navbar">
                    <li class="header__navbar-user">
                        <!-- ログインしてないとき -->
                        <% if (!user) { %>
                        <a href="/login"><i class="fa-regular fa-user"></i><span>ログイン</span></a>
                        <!-- ログインしたとき -->
                        <% } else{ %>
                        <a href="/user/infor"><img class="user-image" src="/image/user-image/<%=user.user_img %>" alt=""></a>
                        <div class="user_navbar">
                            <div class="dropdown-username"><%= user.user_name %></div>
                            <% if(user.user_role === 'admin'){ %>
                                <a href="/admin-page" class="dropdown-account">管理ページ</a>
                            <% } %>
                            <a href="" class="dropdown-account">プロフィール</a>
                            <a href="" class="dropdown-purchase-history">注文履歴</a>
                            <a href="/logout" class="dropdown-logout">サインアウト</a>
                        </div>
                        <% } %>

                    </li>
                    <li class="header__navbar-like icon-center">
                        <a href="/user-favorite">
                            <i class="fa-regular fa-heart"></i>
                            <% if(user){if (user.favorItems.length > 0){ %>
                                <div class="header__navbar--favor-quality"><%=user.favorItems.length %></div>
                            <% }else{ %>
                                <div class="header__navbar--favor-quality" style="display: none;"></div>
                            <% }} %>
                        </a>
                    </li>
                    <div class="navbar-cart">
                        <li class="header__navbar-cart icon-center">
                            <a href="">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                        <div class="header__navbar-cart-count"></div>
                    </div>
                    <li class="header__navbar-support"><a href=""><i class="fa-solid fa-headset"></i><span>サポート</span></a></li>
                    <div class="header__navbar-cart-box-container">
                        <div class="header__navbar-cart-box">
                        </div>
                        <div class="row header__navbar-cart-box-closeBtn">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </ul>
            </div>   
        </header>
        <!-- Header end -->

        <!-- Container start -->
        <div class="container">
            <div class="grid wide">
                <div class="row">
                    <ul class="col l-3 user-profile__category">
                        <li class="user-profile__category--myacount profile__category--checked"><a href="/user-profile"><i class="fa-solid fa-file-invoice"></i>アカウント管理</a></li>
                        <li class="user-profile__category--favor"><a href="/user-favorite"><i class="fa-solid fa-heart"></i>お気に入り</li></a>
                        <li class="user-profile__category--cart"><i class="fa-solid fa-cart-shopping"></i>買い物かご</li>
                        <li class="user-profile__category--hitory"><i class="fa-solid fa-clock-rotate-left"></i>注文履歴</li>
                        <li class="user-profile__category--signout"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>サインアウト</a></li>
                    </ul>
                    <div class="col l-9 user-profile__content">
                        <div class="user-profile__content--title">アカウント管理</div>
                        <div class="row user-profile__content--profile">
                            <div class="col l-6">
                                <div class="user-profile__content--name">
                                    <div class=" profile__content--label user-profile__content--name-label">ユーザー名 : </div> 
                                    <div class="profile__content--value user-profile__content--name-value">
                                        <%= user.user_name %> 
                                        <div class="user-profile__content--value-reset" style="display: inline;" onclick="userProfileReset('user-profile__content--name')">変更</div>
                                    </div>
                                    <form action="/user-profile/edit/<%=user.user_id %>" class="user-profile__content--name-form" style="display: none;" method="post">
                                        <input type="text" name="user_name" id="user_name" style="display: inline-block;width: auto; " value="<%= user.user_name %>">
                                        <input type="text" name="section" value="user_name" hidden>
                                        <button type="submit" class="user-profile__content--value-reset">確認</button>
                                    </form>
                                </div>
                                <div class="user-profile__content--birth">
                                    <div class=" profile__content--label user-profile__content--birth-label">誕生日 : </div>
                                    <div class="profile__content--value user-profile__content--birth-value">
                                        <%= user.user_birth %>
                                        <div class="user-profile__content--value-reset" style="display: inline;" onclick="userProfileReset('user-profile__content--birth')">変更</div>
                                    </div>
                                    <form action="/user-profile/edit/<%=user.user_id %>" class="user-profile__content--birth-form" style="display: none;"  method="post">
                                        <input type="date" name="user_birth" id="user_birth" style="display: inline-block;width: auto; " value="<%= user.user_birth %>">
                                        <input type="text" name="section" value="user_birth" hidden>
                                        <button type="submit" class="user-profile__content--value-reset">確認</button>
                                    </form>
                                </div>
                                <div class="user-profile__content--sex">
                                    <div class="profile__content--label user-profile__content--sex-label  ">性別 : </div>
                                    <div class="profile__content--value user-profile__content--sex-value ">
                                        <%= user.user_sex == 'male' ? '男' : '女' %>
                                        <div class="user-profile__content--value-reset" style="display: inline;" onclick="userProfileReset('user-profile__content--sex')">変更</div>
                                    </div>
                                    <form action="/user-profile/edit/<%=user.user_id %>" class="user-profile__content--sex-form" style="display: none;" method="post">
                                        <select name="user_sex" id="user_sex">
                                            <option value="male" <%= user.user_sex == 'male' ? 'selected' : '' %>>男</option>
                                            <option value="female" <%= user.user_sex == 'female' ? 'selected' : '' %>>女</option>
                                        </select>
                                        <input type="text" name="section" value="user_sex" hidden>
                                        <button type="submit" class="user-profile__content--value-reset">確認</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col l-6">
                                <div class="user-profile__content--avatar">
                                    <div class="profile__content--label">プロフィール写真:</div>
                                    <div class="profile__content--value user-profile__content--image-value ">
                                        <img src="image/user-image/<%=user.user_img %>" alt="">
                                        <div class="user-profile__content--value-reset" style="display: inline;" onclick="userProfileReset('user-profile__content--image')">変更</div>
                                    </div>
                                    <form action="/user-profile/edit/img/<%=user.user_id %>" class="user-profile__content--image-form" style="display: none;" method="post" enctype="multipart/form-data">
                                        <img src="image/user-image/<%=user.user_img %>" alt="" class="user_avatar">
                                        <input type="file" name="user_avatar" id="user_avatar" accept="image/*" style="display: none;">
                                        <input type="hidden" name="currentUserImg" value="<%= user.user_img %>">
                                        <label for="user_avatar" class="image-upload-label" style="display: block">
                                            <span class="material-symbols-rounded"> 画像アップロード </span> 
                                        </label>
                                        <button type="submit" class="user-profile__content--value-reset">確認</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col l-12 user-profile__content--account">
                            <div class="user-profile__content--email">
                                <div class="profile__content--label user-profile__content--email-label">メールアドレス : </div>
                                <div class="profile__content--value user-profile__content--email-value">
                                    <%= user.user_email %>
                                    <div class="user-profile__content--value-reset" style="display: inline;" onclick="userProfileReset('user-profile__content--email')">変更</div>
                                    </div>
                                    <form action="/user-profile/edit/<%=user.user_id %>" class="user-profile__content--email-form" style="display: none;" method="post">
                                        <input type="text" name="user_email" id="user_email" style="display: inline-block; " value=<%= user.user_email %>>
                                        <input type="text" name="section" value="user_email" hidden>
                                        <button type="submit" class="user-profile__content--value-reset">確認</button>
                                    </form>
                                </div>
                            </div>
                            <div class="user-profile__content--password">
                                <div class=" profile__content--label user-profile__content--password-label">パスワード </div> 
                                <div class="profile__content--value user-profile__content--password-value">
                                    *********
                                    <div class="user-profile__content--value-reset" style="display: inline;" onclick="userProfileReset('user-profile__content--password')">変更</div>
                                    </div>
                                    <form action="/user-profile/edit/pass/<%=user.user_id %>" class="user-profile__content--password-form" style="display: none;" method="post">
                                        <label for="user_password-check">旧パスワード</label>
                                        <input type="password" name="user_password_check" id="user_password-check" style="display: inline-block; " value="">
                                        <label for="user_password-new">新パスワード</label>
                                        <input type="password" name="user_password_new" id="user_password-new" style="display: inline-block; " value="">
                                        <label for="user_password-confirm">パスワード確認</label>
                                        <input type="password" name="user_password_confirm" id="user_password-confirm" style="display: inline-block; " value="">
                                        <button type="submit" class="user-profile__content--value-reset">確認</button>
                                    </form>
                                    <% if (error_msg.length > 0) { %>
                                        <form action="/user-profile/edit/pass/<%=user.user_id %>" class="user-profile__content--password-form"  method="post">
                                            <label for="user_password-check">旧パスワード</label>
                                            <input type="password" name="user_password_check" id="user_password-check" style="display: inline-block; " value="">
                                            <label for="user_password-new">新パスワード</label>
                                            <input type="password" name="user_password_new" id="user_password-new" style="display: inline-block; " value="">
                                            <label for="user_password-confirm">パスワード確認</label>
                                            <input type="password" name="user_password_confirm" id="user_password-confirm" style="display: inline-block; " value="">
                                            <button type="submit" class="user-profile__content--value-reset">確認</button>
                                        </form>
                                        <div class="user_password-warning"><%= error_msg %></div>
                                    <% } %>
                                    <% if (success_msg.length > 0) { %>
                                        <div class="user_password-success"><%= success_msg %></div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container end -->

        <!-- Footer Start -->
        <div class="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-3 c-6">
                        <h1 class="shop-infor-title">会社情報</h1>
                        <div class="shop-infor-list"><a href="">TS-Shopについて</a></div>
                        <div class="shop-infor-list"><a href="">お問い合わせ</a></div>
                        <div class="shop-infor-list"><a href="">採用情報</a></div>
                        <div class="shop-infor-list"><a href="">TS-Shopが取り組む環境活動</a></div>
                    </div>
                    <div class="col l-3 c-6">
                        <h1 class="shop-poricy-title">カスタマーサービス</h1>
                        <div class="shop-poricy-list"><a href="">返品・返金ポリシー</a></div>
                        <div class="shop-poricy-list"><a href="">配送について</a></div>
                    </div>
                    <div class="col l-3 c-6">
                        <h1 class="shop-help-title">へプル</h1>
                        <div class="shop-help-list"><a href="">サポートセンター＆FAQ</a></div>
                    </div>
                    <div class="col l-3 c-6">
                        <h1 class="shop-media-title">TS-SHOPとつながる</h1>
                        <ul class="row shop-media-list">
                            <li class="col l-4"><a href="https://instagram.com" class="shop-media-list_insta"><i class="fa-brands fa-instagram"></i></a></li>
                            <li class="col l-4"><a href="https://facebook.com" class="shop-media-list_fb"><i class="fa-brands fa-facebook"></i></a></li>
                            <li class="col l-4"><a href="https://twitter.com/" class="shop-media-list_tw"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li class="col l-4"><a href="https://tiktok.com" class="shop-media-list_tiktok"><i class="fa-brands fa-tiktok"></i></a></li>
                            <li class="col l-4"><a href="https://youtube.com" class="shop-media-list_ytb"><i class="fa-brands fa-youtube"></i></a></li>
                            <li class="col l-4"><a href="https://www.pinterest.jp/" class="shop-media-list_pinterest"><i class="fa-brands fa-pinterest"></i></a></li>
                            
                    </div>
                </div>
                <div class="row shop-detail">
                        TS-SHOP（ティィエスショップ）とは<br>
TS-SHOPはレディースからメンズ・キッズまで、幅広いジャンルのファストファッションアイテムをまとめて購入できるファッション通販サイトです。最新のファストファッションアイテムを取り揃え、様々なお支払い方法にてお買い求めいただけます。お得なセールやイベントも365日毎日開催しておりますので、是非ファッション通販サイトTS-SHOPでのお買い物をお楽しみください！
                </div>
            </div>
            <div class="footer-index">© THANHSON TS-SHOP, ALL RIGHTS RESERVED</div>
        </div>
        <!-- Footer End -->
    </div>
    <script>
        function userProfileReset(section){
            document.querySelector('.' + section + '-value').style.display = 'none'
            document.querySelector('.' + section + '-form').style.display = 'block'
        }
        let userImgInput = document.getElementById('user_avatar')
        userImgInput.addEventListener('change', (event) => {
        const reader = new FileReader();
        const avatarPreview = document.querySelector('.user_avatar');
            
         reader.onload = function () {
             // Cập nhật src của thẻ img bằng ảnh mớia
              avatarPreview.src = reader.result;
           }
       
        // Đọc file ảnh được chọn
           reader.readAsDataURL(event.target.files[0])
        })        
    </script>
</body>
</html>