<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/grid.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/responsive.css">
    <link rel="stylesheet" href="/style/profile.css">
    <script>
        const list_item = JSON.parse('<%- JSON.stringify(items) %>');
        const user = JSON.parse('<%- JSON.stringify(user) %>');
        const myCart = JSON.parse('<%- JSON.stringify(myCart) %>');
        const orders = JSON.parse('<%- JSON.stringify(orders) %>');
    </script>
    <title>TS-shop</title>
</head>
<body>
    <!-- Container start -->
    <div class="app">
        <div class="over-play"></div>
        <!-- Header start1-->
        <%- include('../includes/header-only.ejs') %>
        <!-- Header end -->

        <!-- Container start -->
        <div class="container">
            <div class="grid wide">
                <div class="row">
                    <ul class="col l-3 user-profile__category">
                        <li class="user-profile__category--myacount"><a href="/user-profile"><i class="fa-solid fa-file-invoice"></i>アカウント管理</a></li>
                        <li class="user-profile__category--favor"><a href="/user-favorite"><i class="fa-solid fa-heart"></i>お気に入り</a></li>
                        <li class="user-profile__category--cart"><a href="/user-cart"><i class="fa-solid fa-cart-shopping"></i>買い物かご</a></li>
                        <li class="user-profile__category--hitory profile__category--checked"><a href="/user-order"><i class="fa-solid fa-clock-rotate-left"></i>注文履歴</a></li>
                        <li class="user-profile__category--signout"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>サインアウト</a></li>
                    </ul>
                    <div class="col l-9 user-profile__content">
                        <div class="user-profile__content--title">注文履歴</div>
                        <% if(orders.length > 0){ %>
                        <div class="row user-profile__content--order-list">
                            <table class="order-list__item">
                                <tr>
                                    <th>商品情報</th>
                                    <th>支払い金額</th>
                                    <th>商品操作</th>
                                    <th>ステータス</th>
                                    <th>注文操作</th>
                                </tr>
                                <% orders.forEach(order => { %>
                                <tr>
                                    <td colspan="5" class="order-list__item--data">
                                        <div class="order-date"><%= order.order_date %>&nbsp;&nbsp;&nbsp;<strong>注文番号</strong>&nbsp;NO.<%= order.order_number %></div>
                                    </td>
                                </tr>
                                <tr>
                                    <% order.order_details.forEach(order_detail => { %>
                                    <td class="order-item--data">
                                        <div class="order-item--img">
                                            <a href="/product/<%= order_detail.item_id %>">
                                                <img src="/image/item-image/<%= order_detail.img[0] %>" alt="">
                                            </a>
                                        </div>
                                        <div class="order-item--info">
                                            <div class="order-item--name"><strong><%= order_detail.item_name %></strong></div>
                                            <div class="order-item--brand"><strong>ブランド: </strong><%= order_detail.brand %></div>
                                            <div class="order-item--color"><strong>カラー: </strong><%= order_detail.color %></div>
                                            <div class="order-item--size"><strong>サイズ: </strong><%= order_detail.size %></div>
                                            <div class="order-item--quantity"><strong>数量: </strong><%= order_detail.quantity %></div>
                                        </div>
                                    </td>
                                    <% }) %>
                                    <td>¥<%= order.total_amount %></td>
                                    <td>
                                        <div class="order-item--return"><a href="/user-order/tracking/<%=order.order_id %>" style="text-wrap: nowrap;padding: 10px; color: var(--white-color);background-color: black;padding: 5px 10px; ">追跡</a></div>
                                        <div class="order-item--return" style="text-wrap: nowrap;padding: 10px; color: var(--primary-color); "><a href="">商品を返品</a></div>
                                        <div class="order-item--repurchase" style="text-wrap: nowrap;padding: 10px; color: var(--primary-color);"><a href="">再購入</a></div>
                                    </td>
                                    <td class="order-item--status-info">
                                        <div class="order-item--status">
                                            <%= order.status == 'pending' ? '未処理' :order.status == "delivered" ? '配送待ち' : order.status == 'shipping' ? '配送中' : order.status == 'shipped' ? '配送済み' : 'キャンセル' %>
                                        </div>
                                        <div class="order-info" onclick="showOrderInfo(<%= order.order_id %>)">
                                           注文詳細
                                        </div>
                                    </td>
                                    <td>
                                        <a href="" class="order-item--review">レビュー</a>
                                        <form action="/user-order/remove" method="post">
                                            <input type="hidden" name="order_id" value="<%= order.order_id %>">
                                            <div class="order-remove"><button type="submit">削除</button></div>
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>
                            </table>
                        </div>
                        <% } else { %>
                            <div class="cart-empty-box">
                                <p>現在注文履歴がありません。</p>
                            </div>  
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container end -->

        <!-- Footer Start -->
        <%- include('../includes/footer.ejs') %>
        <!-- Footer End -->
    </div>
</body>
<script src="/script/script.js"></script>
<script>
    function showOrderInfo(order_id) {
        const order = orders.find(order => order.order_id == order_id);
    $('.user-profile__content').innerHTML =
        `<div class="user-profile__content--title">注文詳細</div>
    <div class ="row order-page-return">
        <a href="/user-order"><i class="fa-solid fa-chevron-left"></i>戻る</a>
    </div>
    <div class="row order-page-info__number">
        <div class="col l-6">
            <span>注文番号No</span><br>
            ${order.order_number}
        </div>
        <div class="col l-6">
            <span>注文日</span><br>
            ${order.order_date}
        </div>
        </div>
        <div class="row order-page-info__action">
            <div class="order-repurchase"><a href="">再購入</a></div>
            <div class="order-return">返品</div>
            <div class="order-tracking"><a href="/user-order/tracking/${order.order_id}">追跡</a></div>
            <div class="order-review">レビュー</div>
            </div>
            <table class="order-page-info__table">
                <tr>
                    <th>商品情報</th>
                    <th>数量</th>
                    <th>金額</th>
                    <th>ステータス</th>
                    <th>アクション</th>
                    </tr>
                    ${order.order_details.map(order_detail => {
                        return `
                    <tr>            
                        <td class="order-item__info--data">
                            <div class="order-item--img">
                                <a href="/product/${order_detail.item_id}">
                                    <img src="/image/item-image/${order_detail.img[0]}" alt="">
                                    </a>
                                    </div>
                <div class="order-item--info">
                    <div class="order-item--name"><strong>${order_detail.item_name}</strong></div>
                    <div class="order-item--brand"><strong>ブランド: </strong>${order_detail.brand}</div>
                    <div class="order-item--color"><strong>カラー: </strong>${order_detail.color}</div>
                    <div class="order-item--size"><strong>サイズ: </strong>${order_detail.size}</div>
                </div>
            </td>
            <td>${order_detail.quantity}</td>
            <td>${order_detail.price}</td>
            <td>${order.status == 'pending' ? '未処理' : order.status == "delivered" ? '配送待ち' : order.status == 'shipping' ? '配送中' : order.status == 'shipped' ? '配送済み' : 'キャンセル'}</td>
            <td class="order-item--action"><a href="">${order.status == 'pending' ? 'キャンセル' : ''}</a></td>
        </tr>
        `;
        }).join('')}
    </table>
    <div class="order-page-info__total">
        <div>
            <div class="order-page-info__item--price">
                <div>小計:</div>
                <div>¥${order.total_amount}</div>
            </div>
            <div class="order-page-info__item--shipping">
                <div>送料:</div>
            <div>¥${order.shipping_fee}</div>
            </div>
            <div class="order-page-info__item--total">
                <div>合計</div>
                <div>¥${order.total_amount + order.shipping_fee}</div>
            </div>
        </div>
    </div>
    <div class="order-page-info__tracking">
        <div class="order-page-info__tracking--title">配送情報</div>
        <div class="order-page-info__tracking--item">
            <div>${order.order_username}  ${order.order_userphone}</div>
            <div>${order.shipping_address.split('\n').join('<br>')}</div>
        </div>
    </div>
    <div class="order-page-info__tracking">
        <div class="order-page-info__tracking--title">お支払い情報</div>
        <div class="order-page-info__tracking--item">
            <div>${order.payment_method}</div>
        </div>
    </div>
    <div class="order-page-info__tracking">
        <div class="order-page-info__tracking--title">配送方法</div>
        <div class="order-page-info__tracking--item">
            <div>お急ぎ便<br>推定配達時間：到着予定日： ${order.estimated_delivery_time ? order.estimated_delivery_time : '未定'}</div>
        </div>
    </div>
    `;
}
</script>
<script>
    function decreaseQuantityValue(a){
        const quantityElement = a.parentElement.closest('.cart__item--info-quantity');
        var quantityValue = parseInt(quantityElement.querySelector('.cart__item--info-quantity-num').innerText);
        if(quantityValue == 1){
            removeItemCart(a);
        }
        else{
            quantityValue--;
            quantityElement.querySelector('.cart__item--info-quantity-num').innerText=quantityValue;
        }
    }
    function increaseQuantityValue(a){
        const quantityElement = a.parentElement.closest('.cart__item--info-quantity');
        var quantityValue = parseInt(quantityElement.querySelector('.cart__item--info-quantity-num').innerText);
        quantityValue++;
        quantityElement.querySelector('.cart__item--info-quantity-num').innerText=quantityValue;    
    }
    function removeItemCart(a){
        window.location.reload();
    }
</script>
</html>