<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/grid.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/responsive.css">
    <link rel="stylesheet" href="/style/profile.css">
    <script>
        const list_items = JSON.parse('<%- JSON.stringify(items) %>');
        const user = JSON.parse('<%- JSON.stringify(user) %>');
        const cartItems = JSON.parse('<%- JSON.stringify(cartItems) %>');
        var myCart = []
        if (user) {
            myCart = cartItems.map(item => ({
                id: item.id,
                name: item.name,
                brand: item.brand,
                img: item.img[0],
                price: item.price,
                size: item.size,
                color: item.color,
                colorId:item.colorId,
                quantity: item.quantity
            }));
        } else {
            myCart = [];
        } 
        console.log(cartItems)
        console.log(myCart)
        console.log(user)
    </script>
    <title>TS-shop</title>
</head>
<body>
    <!-- Container start -->
    <div class="app">
        <div class="over-play"></div>
        <!-- Header start1-->
        <header class="header header-only">
            <div class="grid wide">
                <div class="header-category-box">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <a href="/" class="header__logo"><img src="./image/logo.png" alt="logo" class="logo-img"></a>
                <form class="header__search" method="get" action="./category.html">
                    <input type="text" placeholder="何にをお探しですか？" class="header__search-input" name ="word">
                    <button class="header__search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <div class="header__search-box">
                    </div>
                </form>
                <ul class="header__navbar">
                    <li class="header__navbar-user">
                        <!-- ログインしてないとき -->
                        <% if (!user) { %>
                        <a href="/login"><i class="fa-regular fa-user"></i><span>ログイン</span></a>
                        <!-- ログインしたとき -->
                        <% } else{ %>
                        <a href="/user-profile"><img class="user-image" src="/image/user-image/<%=user.user_img %>" alt=""></a>
                        <div class="user_navbar">
                            <div class="dropdown-username"><%= user.user_name %></div>
                            <% if(user.user_role === 'admin'){ %>
                                <a href="/admin-page" class="dropdown-account">管理ページ</a>
                            <% } %>
                            <a href="/user-profile" class="dropdown-account">プロフィール</a>
                            <a href="" class="dropdown-purchase-history">注文履歴</a>
                            <a href="/logout" class="dropdown-logout">サインアウト</a>
                        </div>
                        <% } %>

                    </li>
                    <li class="header__navbar-like icon-center">
                        <a href="/user-favorite">
                            <i class="fa-regular fa-heart"></i>
                            <% if(user){if (user.favorItems.length > 0){ %>
                                <div class="header__navbar--favor-quality"><%=user.favorItems.length %></div>
                            <% }else{ %>
                                <div class="header__navbar--favor-quality" style="display: none;"></div>
                            <% }} %>
                        </a>
                    </li>
                    <div class="navbar-cart">
                        <li class="header__navbar-cart icon-center">
                            <a href="">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                        <div class="header__navbar-cart-count"></div>
                    </div>
                    <li class="header__navbar-support"><a href=""><i class="fa-solid fa-headset"></i><span>サポート</span></a></li>
                    <div class="header__navbar-cart-box-container">
                        <div class="header__navbar-cart-box">
                        </div>
                        <div class="row header__navbar-cart-box-closeBtn">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </ul>
            </div>   
        </header>
        <!-- Header end -->

        <!-- Container start -->
        <div class="container">
            <div class="grid wide">
                <div class="row">
                    <ul class="col l-3 user-profile__category">
                        <li class="user-profile__category--myacount"><a href="/user-profile"><i class="fa-solid fa-file-invoice"></i>アカウント管理</a></li>
                        <li class="user-profile__category--favor"><a href="/user-favorite"><i class="fa-solid fa-heart"></i>お気に入り</a></li>
                        <li class="user-profile__category--cart profile__category--checked"><a href="/user-cart"><i class="fa-solid fa-cart-shopping"></i>買い物かご</a></li>
                        <li class="user-profile__category--hitory"><a href="/user-history"><i class="fa-solid fa-clock-rotate-left"></i>注文履歴</a></li>
                        <li class="user-profile__category--signout"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>サインアウト</a></li>
                    </ul>
                    <div class="col l-9 user-profile__content">
                        <div class="user-profile__content--title">買い物かご</div>
                        <div class="row user-profile__content--cart">
                            <div class="col l-12 cart__item--list">
                                <% if (cartItems && cartItems.length > 0) { %>
                                    <% cartItems.forEach(cartItem => { %>
                                    <div class="row cart__item">
                                        <div class="col l-2 cart__item--image">
                                            <a href="/product/<%= cartItem.id %>">
                                                <img src="/image/item-image/<%= cartItem.img[0] %>" alt="<%= cartItem.name %>">
                                            </a>
                                        </div>
                                        <div class="col l-7 cart__item--info">
                                            <a href="/product/<%= cartItem.id %>">
                                                <div class="cart__item--info-name"><%= cartItem.name %></div>
                                            </a>
                                            <div class="cart__item--info-brand"><%= cartItem.brand %></div>
                                            <div class="cart__item--info-category">カテゴリー：<span><%= cartItem.category %></span></div>
                                            <div class="cart__item--info-color">カラー：<span><%= cartItem.color %></span></div>
                                            <div class="cart__item--info-size">サイズ：<span><%= cartItem.size %></span></div>
                                            <div class="cart__item--info-number">
                                                <div class="cart__item--info-price">￥<%= cartItem.price %></div>
                                                <div class="cart__item--info-quantity">数量：
                                                    <div class="cart__item--info-quantity-down" onclick="decreaseQuantityValue(this),decreaseQuantityItemCart(<%= cartItem.id %>,<%= cartItem.colorId %>,'<%= cartItem.size %>')">-</div>
                                                    <div class="cart__item--info-quantity-num"><%= cartItem.quantity %></div>
                                                    <div class="cart__item--info-quantity-up" onclick="increaseQuantityValue(this),increaseQuantityItemCart(<%= cartItem.id %>,<%= cartItem.colorId %>,'<%= cartItem.size %>')">+</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col l-3 cart__item--delete"><a onclick="removeItemCart(this),removeItemFromCart(<%= cartItem.id %>,<%= cartItem.colorId %>,'<%= cartItem.size %>'),">削除</a></div>
                                    </div>
                                    <% }) %>
                                <% } else { %>
                                    <div class="cart-empty-box">
                                        <img src="/image/cart-empty.jpg" alt="cart-empty-img">
                                        <p>現在カートに商品がありません。</p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container end -->

        <!-- Footer Start -->
        <div class="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-3 c-6">
                        <h1 class="shop-infor-title">会社情報</h1>
                        <div class="shop-infor-list"><a href="">TS-Shopについて</a></div>
                        <div class="shop-infor-list"><a href="">お問い合わせ</a></div>
                        <div class="shop-infor-list"><a href="">採用情報</a></div>
                        <div class="shop-infor-list"><a href="">TS-Shopが取り組む環境活動</a></div>
                    </div>
                    <div class="col l-3 c-6">
                        <h1 class="shop-poricy-title">カスタマーサービス</h1>
                        <div class="shop-poricy-list"><a href="">返品・返金ポリシー</a></div>
                        <div class="shop-poricy-list"><a href="">配送について</a></div>
                    </div>
                    <div class="col l-3 c-6">
                        <h1 class="shop-help-title">へプル</h1>
                        <div class="shop-help-list"><a href="">サポートセンター＆FAQ</a></div>
                    </div>
                    <div class="col l-3 c-6">
                        <h1 class="shop-media-title">TS-SHOPとつながる</h1>
                        <ul class="row shop-media-list">
                            <li class="col l-4"><a href="https://instagram.com" class="shop-media-list_insta"><i class="fa-brands fa-instagram"></i></a></li>
                            <li class="col l-4"><a href="https://facebook.com" class="shop-media-list_fb"><i class="fa-brands fa-facebook"></i></a></li>
                            <li class="col l-4"><a href="https://twitter.com/" class="shop-media-list_tw"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li class="col l-4"><a href="https://tiktok.com" class="shop-media-list_tiktok"><i class="fa-brands fa-tiktok"></i></a></li>
                            <li class="col l-4"><a href="https://youtube.com" class="shop-media-list_ytb"><i class="fa-brands fa-youtube"></i></a></li>
                            <li class="col l-4"><a href="https://www.pinterest.jp/" class="shop-media-list_pinterest"><i class="fa-brands fa-pinterest"></i></a></li>
                            
                    </div>
                </div>
                <div class="row shop-detail">
                        TS-SHOP（ティィエスショップ）とは<br>
TS-SHOPはレディースからメンズ・キッズまで、幅広いジャンルのファストファッションアイテムをまとめて購入できるファッション通販サイトです。最新のファストファッションアイテムを取り揃え、様々なお支払い方法にてお買い求めいただけます。お得なセールやイベントも365日毎日開催しておりますので、是非ファッション通販サイトTS-SHOPでのお買い物をお楽しみください！
                </div>
            </div>
            <div class="footer-index">© THANHSON TS-SHOP, ALL RIGHTS RESERVED</div>
        </div>
        <!-- Footer End -->
    </div>
</body>
<script src="/script/script.js"></script>
<script>
    function decreaseQuantityValue(a){
        const quantityElement = a.parentElement.closest('.cart__item--info-quantity');
        var quantityValue = parseInt(quantityElement.querySelector('.cart__item--info-quantity-num').innerText);
        if(quantityValue == 1){
            removeItemCart(a);
        }
        else{
            quantityValue--;
            quantityElement.querySelector('.cart__item--info-quantity-num').innerText=quantityValue;
        }
    }
    function increaseQuantityValue(a){
        const quantityElement = a.parentElement.closest('.cart__item--info-quantity');
        var quantityValue = parseInt(quantityElement.querySelector('.cart__item--info-quantity-num').innerText);
        quantityValue++;
        quantityElement.querySelector('.cart__item--info-quantity-num').innerText=quantityValue;    
    }
    function removeItemCart(a){
        window.location.reload();
    }
</script>
</html>