<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./style/base.css">
    <link rel="stylesheet" href="./style/grid.css">
    <link rel="stylesheet" href="./style/main.css">
    <link rel="stylesheet" href="./style/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d72dd2144a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./style/responsive.css">
    <link rel="stylesheet" href="/style/profile.css">
    <script>
        const list_item = JSON.parse('<%- JSON.stringify(items) %>');
        const user = JSON.parse('<%- JSON.stringify(user) %>');
        const myCart = JSON.parse('<%- JSON.stringify(myCart) %>');
    </script>
    <title>TS-shop</title>
</head>
<body>
    <!-- Container start -->
    <div class="app">
        <div class="over-play"></div>
        <!-- Header start1-->
        <%- include('../includes/header-only.ejs') %>
        <!-- Header end -->

        <!-- Container start -->
        <div class="container">
            <div class="grid wide">
                <div class="row">
                    <ul class="col l-3 user-profile__category">
                        <li class="user-profile__category--myacount"><a href="/user-profile"><i class="fa-solid fa-file-invoice"></i>アカウント管理</a></li>
                        <li class="user-profile__category--favor"><a href="/user-favorite"><i class="fa-solid fa-heart"></i>お気に入り</a></li>
                        <li class="user-profile__category--cart profile__category--checked"><a href="/user-cart"><i class="fa-solid fa-cart-shopping"></i>買い物かご</a></li>
                        <li class="user-profile__category--hitory"><a href="/user-order"><i class="fa-solid fa-clock-rotate-left"></i>注文履歴</a></li>
                        <li class="user-profile__category--signout"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>サインアウト</a></li>
                    </ul>
                    <div class="col l-9 user-profile__content">
                        <div class="user-profile__content--title">買い物かご</div>
                        <div class="row user-profile__content--cart">
                            <div class="col l-12 cart__item--list">
                                <% if (myCart && myCart.length > 0) { %>
                                    <% myCart.forEach(cartItem => { %>
                                    <div class="row cart__item">
                                        <div class="col l-2 cart__item--image">
                                            <a href="/product/<%= cartItem.id %>">
                                                <img src="/image/item-image/<%= cartItem.img[0] %>" alt="<%= cartItem.name %>">
                                            </a>
                                        </div>
                                        <div class="col l-7 cart__item--info">
                                            <a href="/product/<%= cartItem.id %>">
                                                <div class="cart__item--info-name"><%= cartItem.name %></div>
                                            </a>
                                            <div class="cart__item--info-brand"><%= cartItem.brand %></div>
                                            <div class="cart__item--info-category">カテゴリー：<span><%= cartItem.category %></span></div>
                                            <div class="cart__item--info-color">カラー：<span><%= cartItem.color %></span></div>
                                            <div class="cart__item--info-size">サイズ：<span><%= cartItem.size %></span></div>
                                            <div class="cart__item--info-number">
                                                <div class="cart__item--info-price">￥<%= cartItem.price %></div>
                                                <div class="cart__item--info-quantity">数量：
                                                    <div class="cart__item--info-quantity-down" onclick="decreaseQuantityValue(this),decreaseQuantityItemCart(<%= cartItem.id %>,<%= cartItem.colorId %>,'<%= cartItem.size %>')">-</div>
                                                    <div class="cart__item--info-quantity-num"><%= cartItem.quantity %></div>
                                                    <div class="cart__item--info-quantity-up" onclick="increaseQuantityValue(this),increaseQuantityItemCart(<%= cartItem.id %>,<%= cartItem.colorId %>,'<%= cartItem.size %>')">+</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col l-3 cart__item--delete"><a onclick="removeItemCart(this),removeItemFromCart(<%= cartItem.id %>,<%= cartItem.colorId %>,'<%= cartItem.size %>')">削除</a></div>
                                    </div>
                                    <% }) %>
                                <% } else { %>
                                    <div class="cart-empty-box">
                                        <img src="/image/cart-empty.jpg" alt="cart-empty-img">
                                        <p>現在カートに商品がありません。</p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Container end -->

        <!-- Footer Start -->
        <%- include('../includes/footer.ejs') %>
        <!-- Footer End -->
    </div>
</body>
<script src="/script/script.js"></script>
<script>
    function decreaseQuantityValue(a){
        const quantityElement = a.parentElement.closest('.cart__item--info-quantity');
        var quantityValue = parseInt(quantityElement.querySelector('.cart__item--info-quantity-num').innerText);
        if(quantityValue == 1){
            removeItemCart(a);
        }
        else{
            quantityValue--;
            quantityElement.querySelector('.cart__item--info-quantity-num').innerText=quantityValue;
        }
    }
    function increaseQuantityValue(a){
        const quantityElement = a.parentElement.closest('.cart__item--info-quantity');
        var quantityValue = parseInt(quantityElement.querySelector('.cart__item--info-quantity-num').innerText);
        quantityValue++;
        quantityElement.querySelector('.cart__item--info-quantity-num').innerText=quantityValue;    
    }
    function removeItemCart(a){
        window.location.reload();
    }
</script>
</html>